# Site uses paths like /assignments/readings#reading-reports.
# Static export generates files like /assignments/readings.html.
# Directly accessing an export therefore fails because /assignments/readings/index.html does not exist.
# Setting nextConfig's trailingSlash to true resolved this,
# but as of 2023-09-01 it is also causing loss of a trailing hash (e.g., #reading-reports).
#
# Manually maintaining this set of redirects will be sufficient for a small site.

RewriteEngine On

RewriteRule ^assignments[/]?$ assignments.html
RewriteRule ^assignments/assignment0[/]?$ assignments/assignment0.html
RewriteRule ^assignments/assignment1[/]?$ assignments/assignment1.html
RewriteRule ^assignments/assignment2[/]?$ assignments/assignment2.html
RewriteRule ^assignments/assignment3[/]?$ assignments/assignment3.html
RewriteRule ^assignments/assignment4[/]?$ assignments/assignment4.html
RewriteRule ^assignments/exam[/]?$ assignments/exam.html
RewriteRule ^calendar[/]?$ calendar.html
RewriteRule ^projects[/]?$ projects.html
RewriteRule ^projects/template[/]?$ projects/template.html
