# Site uses paths like /assignments/readings#reading-reports.
# Static export generates files like /assignments/readings.html.
# Directly accessing an export therefore fails because /assignments/readings/index.html does not exist.
# Setting nextConfig's trailingSlash to true resolved this,
# but as of 2023-09-01 it is also causing loss of a trailing hash (e.g., #reading-reports).
#
# Manually maintaining this set of redirects will be sufficient for a small site.

RewriteEngine On

RewriteRule ^assignments[/]?$ assignments.html

RewriteRule ^assignments/assignment-0[/]?$ assignments/assignment-0.html

RewriteRule ^assignments/milestone-1[/]?$ assignments/milestone-1.html
RewriteRule ^assignments/milestone-1/assignment-1-1[/]?$ assignments/milestone-1/assignment-1-1.html
RewriteRule ^assignments/milestone-1/assignment-1-2[/]?$ assignments/milestone-1/assignment-1-2.html
RewriteRule ^assignments/milestone-1/assignment-1-3[/]?$ assignments/milestone-1/assignment-1-3.html
RewriteRule ^assignments/milestone-1/assignment-1-4[/]?$ assignments/milestone-1/assignment-1-4.html
RewriteRule ^assignments/milestone-1/report[/]?$ assignments/milestone-1/report.html

RewriteRule ^assignments/milestone-2[/]?$ assignments/milestone-2.html
RewriteRule ^assignments/milestone-2/assignment-2-1[/]?$ assignments/milestone-2/assignment-2-1.html
RewriteRule ^assignments/milestone-2/assignment-2-2[/]?$ assignments/milestone-2/assignment-2-2.html
RewriteRule ^assignments/milestone-2/report[/]?$ assignments/milestone-2/report.html

RewriteRule ^assignments/milestone-3[/]?$ assignments/milestone-3.html
RewriteRule ^assignments/milestone-3/assignment-3-1[/]?$ assignments/milestone-3/assignment-3-1.html
RewriteRule ^assignments/milestone-3/assignment-3-2[/]?$ assignments/milestone-3/assignment-3-2.html
RewriteRule ^assignments/milestone-3/assignment-3-3[/]?$ assignments/milestone-3/assignment-3-3.html
RewriteRule ^assignments/milestone-3/assignment-3-4[/]?$ assignments/milestone-3/assignment-3-4.html
RewriteRule ^assignments/milestone-3/report[/]?$ assignments/milestone-3/report.html

RewriteRule ^assignments/milestone-4[/]?$ assignments/milestone-4.html
RewriteRule ^assignments/milestone-4/assignment-4-1[/]?$ assignments/milestone-4/assignment-4-1.html
RewriteRule ^assignments/milestone-4/assignment-4-2[/]?$ assignments/milestone-4/assignment-4-2.html
RewriteRule ^assignments/milestone-4/assignment-4-3[/]?$ assignments/milestone-4/assignment-4-3.html
RewriteRule ^assignments/milestone-4/report[/]?$ assignments/milestone-4/report.html

RewriteRule ^assignments/milestone-5[/]?$ assignments/milestone-5.html
RewriteRule ^assignments/milestone-5/digital-mockup[/]?$ assignments/milestone-5/digital-mockup.html
RewriteRule ^assignments/milestone-5/poster[/]?$ assignments/milestone-5/poster.html
RewriteRule ^assignments/milestone-5/web-post[/]?$ assignments/milestone-5/web-post.html

RewriteRule ^assignments/exam[/]?$ assignments/exam.html

RewriteRule ^calendar[/]?$ calendar.html

RewriteRule ^projects[/]?$ projects.html
RewriteRule ^projects/template[/]?$ projects/template.html

RewriteRule ^projects/betbreaker[/]?$ projects/betbreaker.html
RewriteRule ^projects/boredwalk[/]?$ projects/boredwalk.html
RewriteRule ^projects/discoverly[/]?$ projects/discoverly.html
RewriteRule ^projects/dogsense[/]?$ projects/dogsense.html
RewriteRule ^projects/focusshift[/]?$ projects/focusshift.html
RewriteRule ^projects/huskyride[/]?$ projects/huskyride.html
RewriteRule ^projects/planventure[/]?$ projects/planventure.html
RewriteRule ^projects/potpal[/]?$ projects/potpal.html
RewriteRule ^projects/preparebear[/]?$ projects/preparebear.html
RewriteRule ^projects/seekandshare[/]?$ projects/seekandshare.html
RewriteRule ^projects/tilted[/]?$ projects/tilted.html
